@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');


li {
    list-style: none;
    margin-top: 10px;
}
body {
    margin: 0%;
    padding: 0%;
    background-image: url("../img/bg.jpg");
        
}

h1, h2, h4, p,li, a, label{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    margin-top: 110px;
    text-align:center;
}
h4{
    color: #ffffff;
}
.center{
    text-align:center;
}

#logoG {
    width: 85px;
    height: 35px;
    margin-right: 300px;
    
}

nav {
    width: 100%;
    background-color: #0074b9;
    top: 0;
    z-index: 100;
    position: fixed;
    text-align: center;
}
nav ul {
    text-align: center;
    display: flex;
    padding: 0px;
    justify-content: center;
}
nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;     
}
nav a:hover {
    color: #0e2c3d
}

#sobreGen{
    margin-right: 100px;
    margin-left: 100px;
}
#container-sobreGen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

#texto-sobreGen{
    margin-right: 10px;
    text-align: justify;
    padding: 20px;
        
}
#video-sobreGen{
    margin-right: 10px;
    padding: 20px;
}
#container-sobreCurso{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#sobreCurso{
    margin-right: 100px;
    margin-left: 100px;
}
#img-sobreCurso{
    width: 560px;
    right: 315px;
    margin-right: 10px;
    padding: 20px;
}

#txt-sobreCurso{
    margin-right: 10px;
    text-align: justify;
    padding: 20px;
}

#container-curriculo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
#container-curriculo div{
    background-color: lightcoral;
    margin: 30px;
    font-size: 22px;
    width: 300px;
    height: 300px; 
    border: 2px solid rgb(255, 255, 255);
  border-radius: 12px; 
 
}
#container-curriculo ul{
    padding: 15px;
}
#container-curriculo li{
    text-align:center;
    color: #ffffff;
}
#container-merc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#img-merc{
    width: 560px;
    right: 315px;
    margin-right: 10px;
    padding: 20px;
}
#txt-merc{
    margin-right: 10px;
    text-align: justify;
    padding: 20px;
}
#mercadoTrab{
    margin-right: 100px;
    margin-left: 100px;
}
#inscrever{
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 30px;

}
#inscrever div.row{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px
}
#inscrever div.row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 150px;
}
#inscrever div.row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 300px;
    margin-left: 300px;
}